@import "./reset";
@import "./themes/light";
@import "./themes/dark";
@import "./variables/global";

body {
    font: var(--font-m);
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.app {
    min-height: 100vh;
}

.appContent {
    display: flex;
}

.appWrapper {
    padding: 20px;
    flex-grow: 1;
}
