@import "./reset";
@import "./variables/global";
@import "./themes/default";
@import "./themes/dark";

.app {
    min-height: 100vh;
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.app-content {
    display: flex;
}

.app-wrapper {
    padding: 20px;
    flex-grow: 1;
}
