.button {
    cursor: pointer;
    padding: 7px 14px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reset,
.resetInverted {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    outline: none;
}

.resetInverted {
    color: var(--inverted-primary-color);
}

.outline,
.outlineInverted {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
}

.outline {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.outlineInverted {
    border-color: var(--inverted-primary-color);
    color: var(--inverted-primary-color);
}

.background {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.backgroundInverted {
    background-color: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}

.square {
    padding: 0;
    border: none;

    &.sizeM {
        width: var(--line-height-m);
        height: var(--line-height-m);
    }

    &.sizeL {
        width: var(--line-height-l);
        height: var(--line-height-l);
    }

    &.sizeXL {
        width: var(--line-height-xl);
        height: var(--line-height-xl);
    }
}

.sizeM {
    font: var(--font-m);
}

.sizeL {
    font: var(--font-l);
}

.sizeXL {
    font: var(--font-xl);
}
