.switchers {
    position: absolute;
    bottom: 20px;
    left: 15px;
    display: flex;
    align-items: center;
    width: 100%;
}

.switcher {
    margin-left: 20px;
}

.toggleButton {
    position: absolute;
    right: -32px;
    bottom: 26px;
}

.links {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.icon {
    fill: var(--inverted-primary-color);
}

.text {
    margin-left: 15px;
}

.sidebar {
    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--inverted-bg-color);
    transition: width 0.2s linear;

    &.collapsed {
        width: var(--sidebar-width-collapsed);

        .switchers {
            flex-direction: column;
            left: 0;
        }

        .switcher {
            margin-left: 0;
        }

        .links {
            align-items: center;
        }

        .text {
            opacity: 0;
            width: 0;
            margin-left: 0;
        }
    }
}
