.app.dark {
    --bg-color: #0d1151;
    --inverted-bg-color: #e7e9ed;
    --primary-color: #10941b;
    --secondary-color: #11be20;
    --inverted-primary-color: #2a419d;
    --inverted-secondary-color: #4b56ff;
}
