.app {
    --bg-color: #e7e9ed;
    --inverted-bg-color: #0d1151;
    --primary-color: #486fff;
    --secondary-color: #212590;
    --inverted-primary-color: #10941b;
    --inverted-secondary-color: #11be20;
    --inverted-border-color: #486fff;
}
