.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
}

.links {
    margin-left: auto;
}

.link {
    &:first-child {
        margin-right: 20px;
    }
}
